# Dependencias
node_modules/
.pnpm-store/

# Build
dist/
build/
out/
*.tsbuildinfo

# Cobertura y reportes
coverage/
reports/
stryker-report/

# Entornos y secretos
.env
.env.*
!.env.example
.enc/
*.key
*.pem

# Logs
logs/
*.log
npm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Base de datos local
*.db
*.sqlite
# Stryker sandbox
.stryker-tmp/
